.header-title {
  font-weight: bold;
  margin-left: 10px;
}

ion-toolbar {
  --min-height: 60px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
ion-searchbar {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --max-width: 60%;
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

/* Define the container styles */
.card-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* 100% of viewport height for vertical centering */
}

/* Define the card styles */
.custom-card {
  width: 40%; /* Limit the card width to 40% of the container */
  /* Add any other card-specific styles here */
}
