.header-title {
  font-weight: bold;
  margin-left: 50px;

}
ion-toolbar {
  --min-height: 60px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
ion-searchbar {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --max-width: 60%;
}
