<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
          <img src="assets/icon/BoxFactory_logo.png" alt="box_logo" height="50" width="50" style="margin-bottom: 10px">
          <div class="header-title">
            Box-Factory
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
        <ion-searchbar style="width: 250px"></ion-searchbar>
          <ion-icon name="menu" size="large" style="margin-bottom: 15px" (click)="toggleMenu()"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="isMenuOpen" class="menu-content">
    <ion-item (click)="menuItemClicked('Item 1')">(Placeholder) Back to full catalogue of all our Boxes</ion-item>
    <ion-item (click)="menuItemClicked('Item 2')">(Placeholder) Check out your shopping Cart</ion-item>
</div>




