.header-title {
  font-weight: normal;
  font-family: "Gill Sans MT";
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 15px;

}
ion-toolbar {
  --min-height: 60px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
ion-searchbar {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --max-width: 60%;
}
