<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-content">
        <div class="header-left">
          <img class="header-img" src="assets/icon/BoxFactory_logo.png" alt="box_logo" height="50" width="50">
          <div class="header-title">
            Box-Factory
          </div>
        </div>
    </ion-title>
          <div class="search-bar-menu">
            <ion-searchbar class="search-bar" placeholder="Search"></ion-searchbar>
            <ion-icon name="menu" size="large" class="menu-icon" (click)="toggleMenu()"></ion-icon>
          </div>
  </ion-toolbar>
</ion-header>

<div *ngIf="isMenuOpen" class="menu-content">
  <ion-item  (click)="menuItemClicked('Item 1')">(Vis Logo)</ion-item>
  <ion-item  (click)="menuItemClicked('Item 2')">(Gem Logo)</ion-item>
</div>

<div *ngIf="!isContentHidden">
  <img src="assets/icon/BoxFactory_logo.png">
</div>
