<ion-content>
  <!-- Add an overlay to darken the background -->
  <div class="card-overlay"></div>

  <ion-list class="card-container">
    <ion-card *ngFor="let box of state.boxes">
      <ion-card-header>
        <ion-card-title>{{ box.boxName }}</ion-card-title>
      </ion-card-header>
      <ion-img src="assets/cardboard-box-image.png" alt="Cardboard Box" class="cardboard-box-image"></ion-img>
      <ion-card-content class="card-content">
        <ion-card-subtitle>{{ box.description }}</ion-card-subtitle>
        <p>Length: {{ box.length }} mm - Width: {{ box.width }} mm - Height: {{ box.height }} mm</p>
        <p>Price: {{ box.price }} kr.</p>
        <p>In storage: {{ box.amount }}</p>
      </ion-card-content>

      <div class="button-container">
        <ion-button fill="clear" class="custom-button">Add to Storage</ion-button>
        <ion-input fill="clear" class="custom-input" placeholder="Amount" inputmode="numeric" pattern="[0-9]*"></ion-input>
        <ion-button fill="clear" class="custom-button">Add to cart</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
