/* Add an overlay to darken the background */
.card-overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha (fourth value) to control darkness */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Place the overlay behind the cards */
}

/* Adjust the card container width for wider cards */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure that the container takes at least the viewport height */
  padding-bottom: 100px;
  position: relative; /* Make the container a positioning context for the overlay */
}

/* Add spacing between cards */
ion-card {
  margin-bottom: 15px; /* Adjust the margin as needed */
  width: 50%; /* Set the width to 60% of the viewport width (adjust as needed) */
  min-width: 650px;
}

/* Style for the cardboard box image */
.cardboard-box-image {
  max-width: 200px; /* Adjust the maximum width as needed */
  position: absolute;
  top: 50%;
  right: 35px; /* Adjust the right margin as needed */
  transform: translateY(-50%);
  z-index: 1;
}


/* Container styles for card content */
.card-content-container {
  flex-grow: 1; /* Allow card content to grow and occupy available space */
  padding-right: 20px; /* Add padding to the right of the card content */
}

/* Container styles to make elements stand next to each other */
.button-container {
  display: flex;
  align-items: center; /* Center vertically within the container */
  gap: 10px; /* Add 10px spacing between elements */
}

/* Custom styles for the button */
.custom-button {
  font-weight: bold;
  font-size: 16px;
  color: mediumseagreen;
  text-transform: uppercase;
}

.custom-button:hover {
  font-weight: bold;
  font-size: 16px;
  color: red;
  text-transform: uppercase;
}

/* Custom styles for the input */
.custom-input {
  width: 80px; /* Set the width to 80px */
  margin: 0; /* Remove margin to prevent extra spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  color: #333; /* Change the color to your preference */
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

.trash {
  position: absolute;
  top: 10%;
  right: 15px; /* Adjust the right margin as needed */
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.pan {
  position: absolute;
  top: 20%;
  right: 15px; /* Adjust the right margin as needed */
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.pan:hover {
  color: red;
}

.trash:hover {
  color: red;
}
