<ion-content>
  <ion-list>
    <ion-item>
      <ion-input data-testid="updateName" [formControl]="updateBoxForm.controls.boxName" label="Box Name">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input data-testid="updateDescription" [formControl]="updateBoxForm.controls.description" label="description">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number"  [formControl]="updateBoxForm.controls.length" label="length" >

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [formControl]="updateBoxForm.controls.width" label="width" >

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input data-testid="updateHeight" type="number" [formControl]="updateBoxForm.controls.height" label="height">

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [formControl]="updateBoxForm.controls.price" label="price">

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-button [disabled]="updateBoxForm.invalid" (click)="updateBox()">Update</ion-button>
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
